body {
  padding: 2% 5% 5% 5%;
}

.search-row {
  margin-bottom: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid rgba(82, 82, 89, 0.32);
}

button {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid transparent;
  outline: 1px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #161618;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border-radius: 5px 0px 0px 5px;
  border: 1px solid transparent;
  outline: 0px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #161618;
  transition: border-color 0.25s;
}
input:hover {
  border-color: #646cff;
}
input:focus,
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.description,
h1 {
  padding: 4px;
}

h2 {
  text-align: center;
}

table {
    width: 100%;
  border-collapse: collapse;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

th,
td {
  padding: 4px;
}

.column-img {
  text-align: center;
  padding-bottom: 0px;
}

.column-skill {
  text-align: left;
}

.column-rank,
.column-level,
.column-xp {
  text-align: right;
}

@media (prefers-color-scheme: light) {
  button {
    background-color: #f9f9f9;
  }
  input {
    background-color: #f9f9f9;
  }
  a:hover {
    color: #747bff;
  }
}
