@import "./constants.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-1);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Default */
body {
  display: flex;
  margin: 0px;
  padding: 0px;
}

/* Bodies */
#root {
  width: 100%;
}
#main {
  padding-top: 0;
  margin: 0;
}
.main-element {
  padding: 2% 5% 5% 5%;
  max-width: 700px;
}
#error {
  text-align: center;
  padding-top: 25vh;
}

/* Title */
.name {
  color: transparent;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
}
.title {
  font-size: 58px;
  max-width: 370px;
  min-width: 330px;
  overflow-wrap: break-word;
}
.clip {
  background-clip: text;
  background: var(--home-name-background);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.index-text {
  margin: 0px;
  color: var(--text-2);
}

/* Components */
#header {
  background-color: var(--bg-alt);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height: var(--nav-height);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-title {
  padding: 0 32px;
  display: flex;
  justify-content: right;
  background-color: var(--bg-alt);
  box-sizing: border-box;
  z-index: 5;
  width: 100%;
  white-space: nowrap;
}
#header-title-inner {
  color: var(--text-1);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  display: flex;
}
#header-content {
  display: flex;
}
#hamburger-menu {
  margin-left: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  user-select: none;
  transition: color 0.25s;
  color: var(--text-2);
  cursor: pointer;
}
#hamburger-menu:hover {
  color: var(--text-1);
}

.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 50;
  padding: var(--nav-height) 32px 96px 32px;
  width: calc(100vw - 64px);
  max-width: 320px;
  box-sizing: border-box;
  background-color: var(--bg-alt);
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate(-100%);
  transition: opacity 0.5s, transform 0.25s ease;
  overscroll-behavior: contain;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.sidebar-open {
  height: 100vh;
  padding-top: 15px;
  padding-bottom: 128px;
  width: var(--sidebar-width);
  max-width: 100%;
  z-index: 11;
  transform: translate(0);
  transition: opacity 0s, transform 0.25s ease;
  opacity: 1;
  visibility: visible;
}
.sidebar-text {
  flex-grow: 1;
  padding: 0px 0;
  line-height: 30px;
  font-size: 16px;
  transition: color 0.25s;
  color: var(--text-2);
  overflow-wrap: break-word;
  margin: 0;
  direction: ltr;
  font-synthesis: style;
}
.active-link {
  color: var(--highlight);
}
.sidebar-header {
  padding-top: 10px;
  font-weight: bold;
  color: var(--text-1);
}
.sidebar-bottom {
  position: absolute;
  bottom: 10px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* Elements */
button {
  border-radius: 0px;
  border: 1px solid transparent;
  outline: 0px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-alt);
  cursor: pointer;
  transition: border-color 0.25s;
}
input {
  border-radius: 0px;
  border: 1px solid transparent;
  outline: 0px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-alt);
  transition: border-color 0.25s;
}
select {
  border-radius: 0px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  outline: 0px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  width: fit-content;
  color: var(--text-2);
  background-color: var(--bg-alt);
  transition: border-color 0.25s;
}

select:hover,
button:hover,
input:hover {
  border-color: var(--highlight);
}
select:focus,
select:focus-visible,
button:focus,
button:focus-visible,
input:focus,
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  font-weight: 500;
  color: var(--highlight);
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: var(--highlight-dark);
}

@media (min-width: 960px) {
  #main {
    padding-left: var(--sidebar-width);
  }
  #header {
    background: var(--bg);
    transition: background-color 0.5s ease;
    box-shadow: none;
  }
  #header-title {
    justify-content: left;
    width: var(--sidebar-width);
    position: fixed;
  }
  #header-title-inner {
    width: 100%;
    transition: border-bottom 0s ease 0.25s;
    border-bottom: 1px solid var(--divider);
  }
  #sidebar {
    height: 100vh;
    padding-bottom: 128px;
    width: var(--sidebar-width);
    max-width: 100%;
    z-index: 1;
    background-color: var(--bg-alt);
    transform: translate(0);
    opacity: 1;
    visibility: visible;
  }
}
@media (min-width: 1440px) {
  #main {
    padding-right: calc((100vw - var(--layout-max-width)) / 2);
    padding-left: calc((100vw - var(--layout-max-width)) / 2 + var(--sidebar-width));
  }
  #header-title,
  #sidebar {
    padding-left: max(32px, calc((100% - (var(--layout-max-width) - 64px)) / 2));
    width: calc((100% - (var(--layout-max-width) - 64px)) / 2 + var(--sidebar-width) - 32px);
  }
}

@media (prefers-color-scheme: light) {
  button,
  a:hover {
    color: var(--highlight-light);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
