/* Search row */
.filter-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

/* Main grid */
.champion-grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
  gap: 15px;
}
.champion-item {
  text-align: center;
  background-color: var(--bg-soft);
  border: 1px solid var(--bg-soft-mute);
  padding: 10px;
  border-radius: 0px;
  transition: transform 0.2s;
  cursor: pointer;
  box-shadow: var(--shadow-box-1);
}
.champion-item:hover {
  transform: scale(1.05);
}
.champion-image img {
  box-shadow: var(--shadow-box-1);
  max-width: 50%;
  height: auto;
}
.champion-name {
  color: var(--text-1);
  font-weight: bold;
}
.champion-title {
  color: var(--text-2);
  font-size: small;
}
